body {
  margin: 0px;
  background: linear-gradient(#21c08b, #66c8f5, #ab88ff);
  font-family: "Roboto", sans-serif;
}

.Header {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Header__menu--profile {
  display: flex;
  align-items: center;
}

.Header__menu--profile p {
  padding: 15px 0px 0px 10px;
  color: white;
  cursor: pointer;
}

.Header__menu--profile img {
  padding: 15px 0px 0px 5px;
  cursor: pointer;
}

.Header__img {
  width: 200px;
  padding: 8px 0px 0px 5px;
  cursor: pointer;
}

.Header__menu {
  margin-right: 15px;
}

.Header__menu ul {
  display: none;
  list-style: none;
  padding: 0px;
  position: absolute;
  text-align: right;
  width: 100px;
  margin: 0px 0px 0px 0px;
}

.Header__menu:hover ul, ul:hover {
  display: block;
}

.Header__menu li {
  margin: 10px 0px;
}

.Header__menu li a {
  color: white;
  text-decoration: none;
}

.Header__menu li a:hover {
  text-decoration: underline;
}

main .main__input {
  width: 530px;
  margin: 0 auto;
  margin-bottom: 35px;
  padding-top: 100px;
}

main .main__input p {
  text-align: center;
  font-size: large;
  color: wheat;
}

main .main__input--container {
  width: 100%;
  height: 40px;
  border-radius: 100px;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  position: relative;
}

main .main__input--container .Serch-bar {
  width: 90%;
  height: 35px;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: large;
  font-family: "Roboto", sans-serif;
  color: white;
}

::placeholder {
  color: white;
}

::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 4px;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background: transparent;
  border-radius: 4px;
}

::-webkit-scrollbar:hover {
  background: rgba(0, 0, 0, 0.05);
}

::-webkit-scrollbar:hover:active {
  background: transparent;
}

main .main__input--container .Serch-icon {
  background-image: url(./search-icon.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 20px;
  height: 20px;
  justify-content: center;
  cursor: pointer;
}

.categories__title {
  color: white;
  font-size: 18px;
  padding-left: 20px;
}

.carousel {
  width: 100%;
  overflow: scroll;
  padding: 30px;
  position: relative;
}

.carousel__container {
  white-space: nowrap;
  margin: 40px 0px;
  padding-bottom: 10px;
}

.carousel__container .carousel-item {
  width: 200px;
  height: 250px;
  border-radius: 30px;
  overflow: hidden;
  margin-right: 10px;
  display: inline-block;
  cursor: pointer;
  transition: 420ms;
  position: relative;
}

.carousel__container .carousel-item:hover ~ .carousel-item {
  transform: translate3d(100px, 0px, 0px);
}

.carousel__container:hover .carousel-item {
  opacity: 0.3;
}

.carousel__container:hover .carousel-item:hover {
  transform: scale(1.5, 1.5);
  opacity: 1;
  transition: 420ms all;
  transform-origin: center left;
}

.carousel__container .carousel-item .carousel__item--img {
  width: 200px;
  height: 250px;
  object-fit: cover;
}

.carousel-item .carousel__item--detaills {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0% v, rgba(0, 0, 0, 0) 100%);
  font-size: 10px;
  opacity: 0;
  transition: 420ms opacity;
  padding: 10px;
  position: absolute;
  left: 0;
  top: 140px;
  right: 0;
  bottom: 0;
  color: white;
}

.carousel-item .carousel__item--detaills .carousel__detaills--icon {
  width: 30px;
  height: 30px;
}

.carousel-item .carousel__item--detaills:hover {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 100%);
  font-size: 10px;
  opacity: 1;
  transition: 420ms opacity;
  padding: 10px;
  position: absolute;
  left: 0;
  top: 140px;
  right: 0;
  bottom: 0;
  color: white;
}

.footer {
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  color: white;
}

.footer a {
  padding: 0px 10px;
  color: white;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

/*# sourceMappingURL=IndexStyle.css.map */
