body{
    margin: 0px;
    background-color: #a07cfe;
    font-family: 'Roboto', sans-serif;
}

.Header{
  width: 100%;
  height: 80px;
  background-color: #a07cfe;
  display: flex;
  justify-content: space-between; 
  align-items: center;
}

.Header__menu--profile{
    display: flex;
    align-items: center;
}

.Header__menu--profile p{
    padding: 15px 0px 0px 10px;
    color: white;
    cursor: pointer;
}

.Header__menu--profile img{
    padding: 15px 0px 0px 5px;
    cursor: pointer;
}

.Header__img{
    width: 200px;
    padding: 8px 0px 0px 5px;
    cursor: pointer;
}

.Header__menu{
    margin-right: 15px;
}

.Header__menu ul{
    display: none;
    list-style: none;
    padding: 0px;
    position: absolute;
    text-align: right;
    width: 100px;
    margin: 0px 0px 0px 0px;
}

.Header__menu:hover ul, ul:hover{
    display: block;
}

.Header__menu li{
    margin: 10px 0px;
}
.Header__menu li a {
    color: white;
    text-decoration: none;
}

.Header__menu li a:hover {
    text-decoration: underline;
}


main .main__input{
    width: 530px;
    margin: 0 auto;
    margin-bottom: 35px;
    padding-top: 100px;
}

main .main__input p{
    text-align: center;
font-size: large;
color: wheat;
padding-left: 60px;
}

main .main__input--container{
    width: 580px;
    height: 40px;
    border-radius: 100px;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #aa8df3;
}

main .main__input--container .serch-word{
    font-size: smaller;
    color: white;
}

main .main__input--container .Serch-bar{
    width: 470px;
    height: 35px;
    border: none;
    outline: none;
    background-color: #aa8df3;
    font-size: large;
    font-family: 'Roboto', sans-serif;
}



main .main__input--container .Serch-icon{
    background-image:url(./search-icon.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 20px;
    height: 20px;
    justify-content: center; 
    cursor: pointer; 
}